node_modules/
foundrydata/
secret/
container_cache/
build/
fvtt.config.js
.env
docker/foundry_14/.env
binary-packs/
packs/
cypress/videos/
cypress/screenshots/
tests/build/
LOG/
*.log
*.LOG
*MANIFEST*